body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start
}

.card {
  width: 320px;
  margin: 0 10px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 20px;
}

.slideContent {
  margin: 0 40px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.overlay {
  position: absolute;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.MainBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
