body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
}

.card {
  width: 320px;
  margin: 0 10px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 20px;
}

.slideContent {
  margin: 0 40px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.overlay {
  position: absolute;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.MainBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  .Edit {
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #4070f4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
  .Delete {
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #f44070;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}
