body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.slideContent{
    margin: 0 40px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color:  #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}
// .button:hover{

// }

.overlay{
    position: absolute;
    background-color: #4070F4;
}